/*=======================*/
/*Basic setup/*
/*=======================*/
* {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: 100%;
}
body {
  font-family: "Titillium Web", sans-serif;
  text-rendering: optimizeLegibility;
  /* overflow-x: hidden; */
}

/*=======================*/
/* End Basic setup /*
/*=======================*/

/*=======================*/
/* Start header section /*
/*=======================*/

header {
  background: linear-gradient(rgba(0, 0, 0, 0.947), rgba(0, 0, 0, 0.902)),
    url("../img/1111.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #59b66d9d;
  background-attachment: fixed;
  height: 860px;
}

/*start navigation bar*/

nav {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  overflow: hidden;
  clear: both;
}

.logo {
  color: rgb(252, 0, 0);
  font-size: 2rem;
  padding-top: 0.9rem;
  padding-right: 2%;
  font-weight: bold;
  text-transform: uppercase;
}

ul {
  background: rgb(255, 255, 255);
  overflow: hidden;
  padding-left: 25%;
}

ul li {
  float: left;
  list-style-type: none;
  color: rgb(252, 0, 0);
}
ul li a {
  color: rgb(252, 0, 0);
  text-decoration: none;
  text-transform: capitalize;
  padding: 12px 19px;
  display: inline-block;
  font-size: 1.6rem;
}
ul li a:hover {
  background-color: red;
  text-decoration: none;
  color: #fff;
}
.dropdown-list {
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  display: none;
  position: absolute;
  width: 17rem;
  z-index: 1;
}
.dropdown-list a {
  display: block;
  color: #333;
}
.dropdown-list a:hover {
  background-color: #f1f1f1;
  color: red;
}
.main-list:hover .dropdown-list {
  display: block;
}

/*stky nav bar*/

.stiky {
  position: fixed;
  z-index: 9999;
}
.stiky .logo {
  margin-top: 0;
}
.stiky .main-nav {
  margin-top: 0rem;
  margin-bottom: 0;
}

/* start style mobile manue*/

nav {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  overflow: hidden;
  clear: both;
}

.mobile-manue span {
  float: right;
  color: rgb(253, 246, 246);
  font-size: 2rem;
  margin-top: 0.5rem;
  display: none;
  z-index: 1;
}
.mobile-manue span:hover {
  cursor: pointer;
}
.overlay {
  height: 100%;
  background-color: black;
  width: 0;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s;
}
.overly-content {
  position: relative;
  top: 20%;
  width: 100%;

  text-align: center;
}
.overlay a {
  text-decoration: none;
  display: block;
  padding: 2rem 0;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #999;
  font-weight: 800;
}

.para {
  margin-left: 7rem;
}

/* end style mobile manue*/

/*my self section*/

.my-self {
  text-align: center;
  padding-top: 17%;
  padding-bottom: 10%;
  color: rgb(26, 23, 23);
}
.my-self p {
  font-size: 1.7rem;
  text-transform: none;
  width: 70%;
  color: #fff;
  padding-bottom: 2rem;
}
.my-self h2 {
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
}
.my-self a {
  font-size: 2rem;
  font-weight: bold;
  padding-left: 2rem;
  padding-right: 2rem;
  color: #fff;
  text-decoration: none;
  background-color: rgb(254, 0, 0);
  padding: 10px;
}
.my-self a:hover {
  font-size: 2rem;
  font-weight: bold;
  padding-left: 2rem;
  padding-right: 2rem;
  color: #fff;
  text-decoration: none;
  background-color: rgb(205, 8, 8);
  padding: 10px;
}
.btn {
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.portfolio-button {
  padding-bottom: 25px;
}

/*=======================*/
/* End  header section /*
/*=======================*/

/*=======================*/
/* Start about section /*
/*=======================*/
.about-section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  color: rgb(255, 255, 255);

  background: linear-gradient(rgba(0, 0, 0, 0.947), rgba(0, 0, 0, 0.902)),
    url("../img/1111.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: rgb(205, 8, 8);
  background-attachment: fixed;
}
.about-section img {
  width: 37rem;
  height: 40rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-left: 6rem;
}
.about-section p {
  text-align: justify;
  font-size: 1.8rem;
  width: 34rem;
  margin-top: 0rem;
  float: right;
}

.about-content h3 {
  font-weight: bold;
  margin-top: 2rem;
  text-align: center;
  font-size: 2.7rem;
  margin-left: 38%;
}

.about p {
  width: 40rem;
  -moz-text-align-last: center;
  text-align-last: center;
  padding-bottom: 4rem;
  margin-top: 0;
}

.about h2 {
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

.about-section a {
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
  width: 34rem;
  margin-top: 0rem;
  float: right;
}
.card {
  float: right;
  width: 30rem;
  height: 30rem;
}
/*=======================*/
/*end about section /*
/*=======================*/

/*=======================*/
/* Start services-section  /*
/*=======================*/

.services-section {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  color: #fff;

  background: linear-gradient(rgba(0, 0, 0, 0.947), rgba(0, 0, 0, 0.902)),
    url("../img/1111.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #59b66d9d;
  background-attachment: fixed;
}
.services-section img {
  width: 15rem;
  height: 15rem;
}
.services-section h2 {
  font-size: 2.5rem;
  padding-top: 2rem;
  color: rgb(253, 249, 249);
}
.Service h2 {
  font-weight: bold;
  padding-bottom: 1rem;
  font-size: 3.3rem;
}
.service-color h2 {
  color: #333;
}
.service-color p {
  color: #333;
}

.Service h2::after {
  content: "";
  background-color: rgb(255, 255, 255);
  color: red;
  width: 8rem;
  height: 0.4rem;
  display: block;
  margin: auto;
  margin-top: 2rem;
}
.Service p {
  width: 60.5%;
  -moz-text-align-last: justify;
  text-align-last: justify;
  padding-bottom: 2rem;
}
.services-section p {
  font-size: 1.6rem;
  -moz-text-align-last: center;
  text-align-last: center;
}
.fa-check-square {
  color: green;
  font-size: 10rem;
}

/*=======================*/
/* end services-section  /*
/*=======================*/

/*=======================*/
/* Start start skill-section  /*
/*=======================*/
.skill-section {
  text-align: center;
  color: #fff;
  padding-top: 5%;
  padding-bottom: 5%;

  background: linear-gradient(rgba(0, 0, 0, 0.947), rgba(0, 0, 0, 0.902)),
    url("../img/1111.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #59b66d9d;
  background-attachment: fixed;
}
.skill-section h2 {
  font-size: 3rem;
  margin-top: 4rem;
}
.skill-section p {
  font-size: 1.6rem;
  width: 45%;
}
.skill-section h3 {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
}
/*=======================*/
/* Start start portfolio-section  /*
/*=======================*/
.portfolio-section {
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  color: #fff;

  background: linear-gradient(rgba(0, 0, 0, 0.947), rgba(0, 0, 0, 0.902)),
    url("../img/1111.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #59b66d9d;
  background-attachment: fixed;
}

.portfolio-section p {
  text-align: center;
  font-size: 1.8rem;
  width: 46%;
  padding-bottom: 1rem;
}
.portfolio {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  background-color: #ff1616;
  background-attachment: fixed;
  font-size: 1.2rem;
}

.portfolio-section img {
  width: 51rem;
  height: 28rem;
  margin-top: 3rem;
  border-radius: 55px 0px;
  border: 1px solid rgb(205, 8, 8);
  -webkit-border-radius: 55px 0px;
  -moz-border-radius: 55px 0px;
  -ms-border-radius: 55px 0px;
  -o-border-radius: 55px 0px;
}

.portfolio-section h3 {
  font-size: 3rem;
  margin-top: 2rem;
  font-weight: bold;
}

/*=======================*/
/* Start  contact-section  /*
/*=======================*/

.contaact-section p {
  font-size: 1.7rem;
  width: 44rem;
  color: #fff;
  text-align: center;
}
.header {
  text-align: center;
  color: #fafafa;
  font-size: 3.4rem;
  font-weight: bold;
  padding: 10px;
}

.bigicon {
  font-size: 35px;
  color: #ffffff;
}

.contaact-section {
  background: linear-gradient(rgba(0, 0, 0, 0.947), rgba(0, 0, 0, 0.902)),
    url("../img/1111.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #59b66d9d;
  background-attachment: fixed;
}

::-webkit-input-placeholder {
  font-size: 1.5rem;
}

::-moz-placeholder {
  font-size: 1.5rem;
}

:-ms-input-placeholder {
  font-size: 1.5rem;
}

::-ms-input-placeholder {
  font-size: 1.5rem;
}

::placeholder {
  font-size: 1.5rem;
}
.form-control {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.form-control {
  font-size: 1.5rem;
}
.c-btn {
  font-size: 1.6rem;
  font-weight: bold;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: 46%;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.FACEBOOK {
  color: rgb(13, 252, 13);
}
.FACEBOOK:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
